@import '../../identity/colors', '../../layout/grid', '../../layout/spacing';

.ticket-listing {
  background: $melting-iceberg;
  padding: 5rem 0;
}

.container {
  @include grid-container;
}

.title {
  @include grid-block(8, 2);
  text-align: center;
}

.item {
  @include grid-block(12);

  @include bigger-than(md) {
    @include grid-block(8, 2);
  }

  @include bigger-than(lg) {
    @include grid-block(6, 4);
  }

  @include bigger-than(xl) {
    @include grid-block(4);
  }
}
