{
  "presets": ["env", "stage-0", "react", "next/babel"],
  "plugins": [
    "babel-plugin-macros",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}