@import '../../layout/grid';

.hero {
  width: 100%;
  padding: 5rem 0;
}

.hero-image {
  background-size: cover;
  background-position: center;
  min-height: 30rem;
}

.container {
  @include grid-container;
}

.title {
  @include grid-block(12);
}

.content {
  @include grid-block(10);
}
