@import './typefaces';

$default-font-size: 1rem;
$default-line-height: 1.45;

@mixin font-light {
  font-family: $default-typeface;
  font-weight: $font-weight-light;
  font-size: $default-font-size;
  line-height: $default-line-height;
}

@mixin font-regular {
  font-family: $default-typeface;
  font-weight: $font-weight-regular;
  font-size: $default-font-size;
  line-height: $default-line-height;
}

@mixin font-bold {
  font-family: $default-typeface;
  font-weight: $font-weight-bold;
  font-size: $default-font-size;
  line-height: $default-line-height;
}

@mixin font-title($size) {
  @include font-bold;
  color: $black;
  font-size: $size;
  text-transform: uppercase;
  margin: 0 0 $size/2 0;
}
