@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i);

$default-typeface: 'Montserrat', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
