@import '../../layout/grid';

.container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0;
}

.image {
  background-size: cover;
  background-position: center;
}

.text {
  padding: 5rem 2rem;

  max-width: #{$breakpoint-sm / 2}rem;

  @include bigger-than(md) {
    max-width: #{$breakpoint-md / 2}rem;
  }

  @include bigger-than(lg) {
    max-width: #{$breakpoint-lg / 2}rem;
  }

  @include bigger-than(xl) {
    max-width: #{$breakpoint-xl / 2}rem;
  }
}
