@import '../../../identity/colors', '../../../identity/typography', '../../../identity/transitions';

.navigation {
  text-align: right;
}

.list-item {
  display: inline-block;
  margin: 0 1rem;

  &:last-of-type {
    margin: 0 0 0 1rem;
  }
}

.navigation-link {
  color: $purple-dark;
  @include font-bold;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-decoration: none;

  transition: color $transition-delay $transition-timing;

  &:hover {
    color: $purple;
  }

  &:active,
  &:focus {
    color: $purple-light;
  }
}
